ADMIN_PASSWORD=vision2026
SESSION_SECRET=replace-with-a-long-random-secret
GITHUB_OWNER=Aureonv1
GITHUB_REPO=Initial-Vision-Fitness-site
GITHUB_BRANCH=main
GITHUB_TOKEN=github_pat_your_token_here
GITHUB_SITE_PATH=data/site.json
GITHUB_MESSAGES_PATH=data/messages.json
